.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.messages {
    padding: 10px;

}

/*.messages img {*/
/*    width: 20px;*/
/*    border-radius: 50%;*/
/*}*/

.dialogsItems {
    padding: 10px;
}

.dialogs img {
    width: 20px;
    border-radius: 50%;
}

.circle {
    padding: 2px;
    width: 2px;
    height: 2px;
    background: blue;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}